.blueBorder {
    /* border: 3px solid blue; */
}

.redBorder {
    /* border: 3px solid red; */
}

.yellowBorder {
    /* border: 3px solid yellow; */
}


header {
    color: white;
}

button {
    color: white;
}

a {
    color: white;
    text-decoration: none;
    text-align: center;
    height: 100%;
}

a:hover {
    color: grey;
    text-decoration: none;
}


.inputSearch {
    padding: 6px;
    color: white;
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.btnLogin {
    color: white;
    background: #1D1D1D;
    border: 1px solid #EB01FF;
    width: 100%;
}

.btnLogin:hover {
    color: white;
    background: #1D1D1D;
    border: 1px solid rgba(250, 255, 1, 1);
}

.header {
    background-color: rgba(4, 4, 4, 0.5);
    /* background-color: #040404;
    opacity: 0.5; */
}

.imgLogo {
    width: 75%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 2px;
}

nav a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: all 0.2s ease;
    color: white;
}

nav a:hover {
    background-color: hsl(300, 69%, 8%);
    color: #fff;
    border-radius: 10px;
}